data/
myenv/
*.tgz
plm/models/
plm/demo
.cache/
.venv
checking
logs
plm/still_testing
*.e*
*.o*
*.log
*.txt
!requirements.txt
*.pyc
.vscode
results.csv
x.py
test
*.csv
logs/
plm/predictions
results_backup
tests